.pagination{
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 15px;
}
.pagination span{
  font-size: 14px;
  color: #fff;
  padding: 3px 9px;
  border-radius: 4px;
  cursor: pointer;
}
.page:hover{
  text-decoration: underline;
}
.current-page{
  font-size: 18px;
  background: rgb(92 92 92 / 50%);
  box-shadow: 5px 0px 26px -3px rgb(0 0 0 / 37%)
}