.wrapper-header{
  background: #222;
  padding: 16px 0;
  /*-webkit-box-shadow: 0px 30px 10px 62px rgba(0, 0, 0, 1);*/
  /*-moz-box-shadow: 0px 30px 10px 62px rgba(0, 0, 0, 1);*/
  /*box-shadow: 0px 30px 10px 62px rgba(0, 0, 0, 1);*/
}
.logo-header{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-shadow: -1px 0px 7px rgba(0, 0, 0, 0.58);
}
.inner-header{
  display: flex;
  justify-content: space-between;
}
.inner-header a{
  color: #817f7f;
  text-decoration: none;
  font-size: 15px;
}
.nav-header a{
  margin-left: 27px;
  padding: 3px 0;
  font-weight: 500;
}
.active{
  color: #ffffff !important;
  border-bottom: 1px solid #fff;
}